statemachine/test_bk.json
{
  "Comment": "test StepFunction",
  "StartAt": "StartFunction",
  "States": {
    "StartFunction": {
      "Type": "Task",
      "Resource": "${StartFunctionArn}",
      "InputPath": "$",
      "ResultPath": "$.result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 0,
          "BackoffRate": 2
        }
      ],
      "Next": "StartFunctionSuccesses"
    },
    "StartFunctionSuccesses": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.result",
          "BooleanEquals": true,
          "Next": "TestFunction"
        },
        {
          "Variable": "$.result",
          "BooleanEquals": false,
          "Next": "FunctionEnd"
        }
      ],
      "Default": "FunctionEnd"
    },
    "TestFunction": {
      "Type": "Parallel",
      "Next": "EndFunction",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "EndFunction"
        }
      ],
      "Branches": [
        {
          "StartAt": "Parallel1Function",
          "States": {
            "Parallel1Function": {
              "Type": "Task",
              "Resource": "${Test1FunctionArn}",
              "Parameters": {
                "TargetName": "てすと1 その1",
                "TargetYmd.$": "$.TargetYmd",
                "SleepSec": 4
              },
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 0,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Parallel2Function",
          "States": {
            "Parallel2Function": {
              "Type": "Task",
              "Resource": "${Test1FunctionArn}",
              "Parameters": {
                "TargetName": "てすと1 その2",
                "TargetYmd.$": "$.TargetYmd",
                "SleepSec": 4
              },
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 0,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Parallel3Function",
          "States": {
            "Parallel3Function": {
              "Type": "Task",
              "Resource": "${Test1FunctionArn}",
              "Parameters": {
                "TargetName": "てすと1 その3",
                "TargetYmd.$": "$.TargetYmd",
                "SleepSec": 4
              },
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 0,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Parallel4Function",
          "States": {
            "Parallel4Function": {
              "Type": "Task",
              "Resource": "${Test2FunctionArn}",
              "Parameters": {
                "TargetName": "てすと2 その1",
                "TargetYmd.$": "$.TargetYmd",
                "SleepSec": 4
              },
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 0,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      ]
    },
    "EndFunction": {
      "Type": "Task",
      "Resource": "${EndFunctionArn}",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 0,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "FunctionEnd": {
      "Type": "Pass",
      "End": true
    }
  }
}